/* Modern CSS Reset by Andy Piccalilli */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-400: hsl(172, 67%, 45%);
  --clr-neutral-700: hsl(183, 100%, 15%);
  --clr-neutral-600: hsl(186, 14%, 43%);
  --clr-neutral-500: hsl(184, 14%, 56%);
  --clr-neutral-400: hsl(185, 41%, 84%);
  --clr-neutral-300: hsl(189, 41%, 97%);
  --clr-neutral-200: hsl(0, 0%, 100%);
  --fs-base: 1.5rem;
  --ff-base: "Space Mono", monospace;
}

body {
  background: var(--clr-neutral-400);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-base);
  font-family: var(--ff-base);
}
body .logo {
  margin: 2em;
}
body .card {
  background: var(--clr-neutral-200);
  border-radius: 1.5em;
  padding: 1.5em 0.5em;
}

form {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
}
form fieldset {
  position: relative;
  border: none;
}
form legend {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-neutral-600);
}
form input[type=text] {
  border: none;
  background: var(--clr-neutral-300);
  color: var(--clr-neutral-700);
  text-align: right;
  padding: 0.2em 1em;
  border-radius: 0.25em;
  font-weight: 700;
  width: 100%;
}
form .dollar-logo,
form .person-logo {
  position: absolute;
  top: 0.9em;
  left: 1.5em;
}
form .tip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
form .tip legend {
  grid-column: 1/3;
}
form .tip input[type=radio] {
  display: none;
}
form .tip label {
  display: block;
  background: var(--clr-neutral-700);
  color: var(--clr-neutral-200);
  padding: 0.2em;
  border-radius: 0.25em;
  text-align: center;
}
form .tip input[type=text] {
  color: var(--clr-neutral-600);
}
form .tip input[type=radio]:checked + label {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-700);
  font-weight: 700;
}
