:root {
   --clr-primary-400: hsl(172, 67%, 45%);

   --clr-neutral-700: hsl(183, 100%, 15%);
   --clr-neutral-600: hsl(186, 14%, 43%);
   --clr-neutral-500: hsl(184, 14%, 56%);
   --clr-neutral-400: hsl(185, 41%, 84%);
   --clr-neutral-300: hsl(189, 41%, 97%);
   --clr-neutral-200: hsl(0, 0%, 100%);

   --fs-base: 1.5rem;

   --ff-base: 'Space Mono', monospace;
}

body {
   background: var(--clr-neutral-400);
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   font-size: var(--fs-base);
   font-family: var(--ff-base);

   .logo {
      margin: 2em;
   }

   .card {
      background: var(--clr-neutral-200);
      border-radius: 1.5em;
      padding: 1.5em 0.5em;
   }
}